<!DOCTYPE html>
<html>
<head>
<title>我的</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="../lib/weui.min.css">
<link rel="stylesheet" type="text/css" href="../css/jquery-weui.css">
<link rel="stylesheet" type="text/css" href="css/public.css"/>

<script src="../lib/jquery-2.1.4.js"></script>
<script src="../js/jquery-weui.js"></script>

<link rel="stylesheet" type="text/css" href="css/my.css">

</head>

	<body ontouchstart>
<!-- context str-->				
<!--
	作者：513340030@qq.com
	时间：2017-02-20
	描述：头部標簽
	<div class="weui-col-33" id="ligin_icon"><a href="login.html">登录</a></div>
	<span class="home2"></span>
	<img src="images/icon_nav_photo.png" class="home">
-->		
<header style="position: relative;">
<div class="weui-row weui-no-gutter">
<div class="weui-col-33"></div>
<div class="weui-col-33">我的</div>
<div class="weui-col-33"></div>
</div>
</header>	
		








<!--
	作者：513340030@qq.com
	时间：2017-02-23
	描述：内容模块
-->
<div class="weui-panel weui-panel_access" style="margin-top: 0px;"> 
  <div class="weui-panel__bd">
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" src="images/icon_nav_touxiang.JPG">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">用户名</h4>
        <p class="weui-media-box__desc">账号：18260122534</p>
      </div>
    </a>
</div>
</div>


 <div class="my_list">
  <div class="weui-cells" style="margin-top: 0.85rem;">
  	
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <p>信息</p>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <p>收藏</p>
            </div>
            <div class="weui-cell__ft"></div>
          </a>             
          </div>
          
     <div class="weui-cells" style="margin-top: 0.85rem;">       
             <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <p>钱包</p>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <p>兑换</p>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
          </div>

</div>



<!--
	作者：513340030@qq.com
	时间：2017-02-21
	描述：底部垫出层
-->

<div class="weui-cells" style="height: 49px;margin-top: 0px;  background: #efefef;">
</div>







<!--
	作者：513340030@qq.com
	时间：2017-02-21
	描述：底部菜單
-->
 <div class="weui-tabbar">
        <a href="activity.html" class="weui-tabbar__item ">
         <!--
         <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
         -->
          <div class="weui-tabbar__icon">
            <img src="./images/icon_nav_.a0.png" alt="">
          </div>
          <p class="weui-tabbar__label">活动</p>
        </a>
           <a href="bus.html" class="weui-tabbar__item">
          <div class="weui-tabbar__icon">
            <img src="./images/icon_nav_.b0.png" alt="">
          </div>
          <p class="weui-tabbar__label">房车</p>
        </a>
         <a href="camp.html" class="weui-tabbar__item ">
          <div class="weui-tabbar__icon">
            <img src="./images/icon_nav_.c0.png" alt="">
          </div>
          <p class="weui-tabbar__label">营地</p>
        </a>
        <a href="my.html" class="weui-tabbar__item weui-bar__item--on">
          <div class="weui-tabbar__icon">
            <img src="./images/icon_nav_.d1.png" alt="">
          </div>
          <p class="weui-tabbar__label"><font color="#FFBE00">我的</font></p>
        </a>
 </div>	
		
<!-- context end-->		

<script src="../js/jquery-weui.js"></script>
<script src="../js/swiper.js"></script>
<script>
      $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
      });
</script>
		

		
		
	</body>
</html>
